.bg{
    background-color: rgb(239, 108, 0);
}
.cart-btn{
    color: white;
    border: none;
    background-color: transparent;
}

.nav-bar-upper{
   background-color: black;
    height: 60px;
}

.account-btn{
    color: white;
    border: none;
    background-color: transparent;
}